<article>
    <a href="{{ post.url }}">
        {% if {{post.thumbnail}} == "juliusz-cezar-thumbnail.svg" %}
            {% capture thumbnail %}img/{{post.thumbnail}}{% endcapture %}
            {% include {{thumbnail}} %}
        {% else %}
            <img src="{{ site.url }}/assets/img/{{ post.thumbnail }}" alt="">
        {% endif %}
    </a>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <ul>
        {% for category in post.categories %}
            <li>
                {% if include.language == "pl-pl" %}
                    <a href="{{ site.url }}/category/{{ category }}">
                        {% include category-icon.twig category=category %}
                        <span>{% include category-name.twig category=category language="pl-pl" %}</span>
                    </a>
                {% else if include.language == "en-us" %}
                    <a href="{{ site.url }}/en-us/category/{{ category }}">
                        {% include category-icon.twig category=category %}
                        <span>{% include category-name.twig category=category language="en-us" %}</span>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</article>